@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.dark-bg {
    background-color: #1F2937
}

header {
    height: 64px;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.stego {
    font-size: 24px;
    color:black
}

.links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

main {
    height: 500px;
    display: flex;
}

.hero-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
}

.hero-container div {
    flex: 1;
}

.hero-container .main-text {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 700;
}

.hero-container .sec-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 5 10px;
}